<!-- indica para o Go compor os templates -->
{{ template "header.html" }}

<h1>Cursos</h1>
<table>
    <thead>
        <tr>Nome</tr>
        <tr>Horas</tr>
    </thead>
    <tbody>
        <!--
            inicia um for para preencher o template com os dados da struct
        -->
        {{ range . }}
            <tr>
                <!-- | nome-funcao indica funcoes que podem ser executadas nos dados apos elas serem registradas
                     O nome da funcao tem que ser igual ao nome do mapeamento no t.Funcs(template.FuncMap{})
                -->
                <td>{{ .Nome | ToUpper }}</td>
                <td>{{ .CargaHoraria }}</td>
            </tr>
        {{ end }}
    </tbody>
</table>

{{ template "footer.html" }}